<section class="container-fluid login">
  	<div class="wrapper shadow">
      <div class="row no-marg">
        <div class="col-sm-9 no-pad">
          <div class="img-container">
            <h3>
              <img class="logo" src="assets/img/icons/logo.svg" alt="merger" />
              <span class="thin">Merger</span>
            </h3>
            <br><br>
            <h1 class="thin">
              Import And Merge Data.
              <br>
              Resolve Conflicts.
            </h1>
            <br><br>
            <p class="thin">
              Merger handles uploading several .csv 
              files from one directory 
              <br>
              and merging them all together to  fill the holes.
            </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-wrapper">
            <br><br>
            <uib-tabset active="activeForm">
              <uib-tab index="0" heading="Sign In">
                <br>
                <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
                <form ng-submit="login()">
                  <div>
                    <div class="form-group">
                      <input class="form-control input-blue" type="text" name="email" placeholder="Email" ng-model="loginForm.email" required/>
                    </div>
                    <br />
                    <div class="form-group">
                      <input class="form-control input-blue" type="password"  name="password" placeholder="Password"  ng-model="loginForm.password" required/>
                    </div>
                    <br /><br />
                    <div>
                      <button class="btn btn-blue" type="submit" ng-disabled="disabled">Sign In</button>
                    </div>
                  </div>
                </form>
              </uib-tab>
              <uib-tab index="1" heading="Sign Up">
                <br>
                <form ng-submit="register()">
                  <div>
                    <div class="form-group">
                      <input class="form-control input-blue" type="text" name="email" placeholder="Email"  ng-model="registerForm.email" required/>
                    </div>
                    <br />
                    <div class="form-group">
                      <input class="form-control input-blue" type="password"  name="password" placeholder="Password"  ng-model="registerForm.password" required/>
                    </div>
                    <br /><br />
                    <div>
                      <button class="btn btn-blue" type="submit" ng-disabled="disabled">Sign Up</button>
                    </div>
                  </div>
                </form>
              </uib-tab>
            </uib-tabset>
            <br />
          </div>
        </div>
      </div>
    </div>
  </section>